<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
    <figure>
        <img [src]="product().images | productImage" alt="altPrueba" />
    </figure>
    <div class="card-body">
        <h2 class="card-title text-xl text-accent hover:underline cursor-pointer" (click)="btnIr.click()">
            {{product().title}}
        </h2>
        <p>
            {{product().description | slice: 0:90}}...
        </p>
        <div class="card-actions justify-end">
            <a #btnIr class="link link-accent" [routerLink]="['/product', product().title]">
                Ver producto
            </a>
        </div>
    </div>
</div>